@import "~antd/dist/antd.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: black;
}

.ant-typography {
  color: black;
}
h1.ant-typography {
  color: black;
}

h3.ant-typography {
  color: black;
}

.ant-layout {
  background-color: #c5b8ae;
}

.ant-layout-header {
  background-color: #421a16;
}

.ant-menu.ant-menu-dark {
  background-color: #421a16;
}
